@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

/* Body */
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: relative;

    /* cubic bezier transition */
    transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

/* spreading layer */
.color-layer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translate(50%, 50%);
    z-index: -1;
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* container */
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 5rem;
}

/* color row */
.container .color{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.4rem;
    gap: 5px;
}

/* color text */
.color .colorCode{
    padding: 10px 15px;
    background: #d9e2ff;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

/* copy wrapper */
.copy-wrapper{
    position: relative;
}

/* copy button */
.color button{
    border: none;
    font-size: 22px;
    cursor: pointer;
    background: #d9e2ff;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.color button i{
    transition: 0.3s;
}

.color button:hover i{
    transform: scale(1.1);
}

/* copied highlight */
.copied {
    color: blue;
    font-weight: 600;
}

/* tooltip */
#tooltip {
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

#tooltip.show {
    opacity: 1;
}

/* BG button */
#bgBtn{
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

#bgBtn:hover{
    background: #222;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}
